HELP.md
# Compiled files
target/
node_modules/
dist/
out/
.DS_Store
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IDE / Editor settings
.idea/
*.iws
*.iml
*.ipr
.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Environment Variables
.env
.env.local

# Logs
**/*.log
