server:
  port: 8081

spring:
    datasource:
      url: jdbc:mysql://localhost:3306/holiday_db
      username: test
      password: test
      driver-class-name: com.mysql.cj.jdbc.Driver
    jpa:
      hibernate:
        ddl-auto: update
      cache:
        type: redis
