:root {
    --background-color: white;
    --text-color: black;
  }
  
  .dark-mode {
    --background-color: #121212;
    --text-color: white;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }

.mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.spacer {
  flex: 1;
}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
